<div fxLayout="row wrap">

  <div fxFlex="30%">
    <div class="mat-title">Add video Metadata</div>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descriptiojn</mat-label>
      <input matInput required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Video Statrus</mat-label>
      <mat-select>
        <mat-option value="PUBLIC">First option</mat-option>
        <mat-option value="PRIVATE">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
  </div>

  <div fxFlex="30%"></div>

  <div>
    Video Player
  </div>

  <div fxFlex="20%"></div>
    Hi
</div>
